<ngb-carousel>
  <ng-template ngbSlide>
    <img src="http://mjdna.com/Files/0014/20140206-13513521971252.jpg" alt="Ladies perfumes">
    <div class="carousel-caption">
      <h3>בשמים לאישה</h3>
      <p>מגוון רחב של בשמים לאישה</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="http://mjdna.com/Files/0014/20140206-13513521971252.jpg" alt="Ladies perfumes">
    <div class="carousel-caption">
      <h3>הכהכהכהכ לאישה</h3>
      <p>מגוון רחב של בשמהכהכהכהכהכהים לאישה</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://atmag-static-timeout.netdna-ssl.com/media/2016/09/sizes/UNTITLED_H_wo_680_382.jpg" alt="Mens perfumes">
    <div class="carousel-caption">
      <h3>בשמים לגבר</h3>
      <p>מגוון רחב של בשמים לגבר</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://www.kipa.co.il/userFiles/43fafb9a12fe125c6eae71cc22d104a7.jpg" alt="Makeup">
    <div class="carousel-caption">
      <h3>איפור</h3>
      <p>מגוון רחב של מוצרי איפור</p>
    </div>
  </ng-template>
</ngb-carousel>