<div class="center-content">

    <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
              <input type="text"  class="form-control r2l" placeholder="שם מוצר" aria-label="Username" aria-describedby="basic-addon1" formControlName="itemName" required>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-danger r2l" role="alert" *ngIf="itemName.errors && (itemName.dirty || itemName.touched)">
            <p *ngIf="itemName.errors.required">חובה להכניס שם מוצר</p>
          </div>
        </div>
      </div>
    
    
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
              <select class="custom-select r2l" formControlName="category" id="inputGroupSelect01">
                <option value="" disabled selected>סוג מוצר</option>
                <option *ngFor="let item of Category" [value]="item"> {{item}} </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-danger r2l" role="alert" *ngIf="category.errors && (category.dirty || category.touched)">
            <p *ngIf="category.errors.required">חובה להכניס סוג מוצר</p>
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
              <select class="custom-select r2l" formControlName="gender" id="inputGroupSelect01">
                <option value="" disabled selected>מין</option>
                <option *ngFor="let kind of Gender" [value]="kind"> {{kind}} </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-danger r2l" role="alert" *ngIf="gender.errors && (gender.dirty || gender.touched)">
            <p *ngIf="gender.errors.required">חובה להכניס מין</p>
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
              <select class="custom-select r2l" formControlName="status" id="inputGroupSelect01">
                <option value="" disabled selected>זמינות במלאי</option>
                <option *ngFor="let obj of Status" [value]="obj"> {{obj}} </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-danger r2l" role="alert" *ngIf="status.errors && (status.dirty || status.touched)">
            <p *ngIf="status.errors.required">חובה להכניס סטטוס מוצר</p>
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
              <input type="number"  class="form-control r2l" placeholder="מחיר" aria-label="Price" aria-describedby="basic-addon1" formControlName="price" required>
            </div>
          </div>
        </div>  
      </div>
    
    
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-danger r2l" role="alert" *ngIf="price.errors && (price.dirty || price.touched)">
            <p *ngIf="price.errors.required">חובה להכניס מחיר למוצר</p>
            <p *ngIf="price.errors.pattern">מחיר לא תקין</p>
          </div>
        </div>
      </div>
    
    
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
              <input type="number"  class="form-control r2l" placeholder="תכולה" aria-label="" aria-describedby="basic-addon1" formControlName="amount" required>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-danger r2l" role="alert" *ngIf="amount.errors && (amount.dirty || amount.touched)">
            <p *ngIf="amount.errors.required">חובה להכניס כמות מ"ל</p>
            <p *ngIf="amount.errors.pattern">כמות מ"ל לא תקינה</p>
          </div>
        </div>
      </div>
    
      <div class="form-row text-center">
        <div class="col-12">
          <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">שמור מוצר</button>
        </div>
      </div>
    
      <!-- <pre>{{myForm.value | json}}</pre> -->
      <!-- <pre>Touched? {{ itemName.touched }}</pre> -->
    </form>
    
    </div>