<nav class="navbar navbar-expand-md navbar-light bg-light r2l">
  <a class="navbar-brand">סינון</a>  
  <button class="navbar-toggler" type="button" (click)="searchbarCollapsed = !searchbarCollapsed" [attr.aria-expanded]="!searchbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="searchbarCollapsed" id="navbarSupportedContent">  
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="filter.name" name="name" placeholder="שם מוצר..." aria-label="Search">
  </form>
  <form class="form-inline" *ngIf="isUserIsAdmin() || isUserIsAgents()">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="filter.productCode" name="productCode" placeholder="ברקוד..." aria-label="Search">
  </form>
  <form class="form-inline" *ngIf="isUserIsAdmin() || isUserIsAgents()">
    <input class="form-control mr-sm-2" type="number" [(ngModel)]="filter.price" name="price" placeholder="מחיר..." aria-label="Search">
  </form>
  <div ngbDropdown class="d-inline-block" *ngIf="isUserIsAdmin() && isProductsTypeIsStock()">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectedStock}}</button>
    <div ngbDropdownMenu class="r2l" aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="getNotAvailableProducts()">הכל</button>
      <button class="dropdown-item" (click)="getNotAvailableMakeups()">איפור</button>
      <button class="dropdown-item" (click)="getNotAvailablePerfumes()">בישום נשים</button>
      <button class="dropdown-item" (click)="getNotAvailableMensPerfume()">בישום גברים</button>
    </div>
  </div>
</div>
</nav>
<br>

<div *ngIf="products">
  <div class="fiexd-side-1 r2l">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mx-auto d-flex justify-content-center" *ngFor="let product of products | productsFilter:filter">
        <br>        
        <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
              <img class="resize" src="{{product.image}}"  alt="Card image">
          </div>
          <div class="theback r2l">
              <h3 class="card-title">{{product.name}} ל{{product.gender}}</h3>
              <hr>
              <p class="card-text" *ngIf="!isUserIsAgents() && !isUserIsAdmin()">
                <br>
                {{product.ml}} מ"ל
                <br>
              </p>
              <p class="card-text" *ngIf="isUserIsAgents()">
                <br>
                {{product.ml}} מ"ל
                <br>
                {{product.price}} ₪
                <br>
                ברקוד: {{product.productCode}}
              </p>
              <p class="card-text" *ngIf="isUserIsAdmin()">
                {{product.ml}} מ"ל
                <br>                
                {{product.price}} ₪
                <br>
                ברקוד: {{product.productCode}}
                <br>
                {{product.status}} במלאי
              </p>
              <button type="button" class="btn btn-primary" (click)="show(product)">הגדל</button>
              <button type="button" class="btn btn-success" (click)="update(product)" *ngIf="isUserIsAdmin()">ערוך</button>
              <button type="button" class="btn btn-danger" (click)="delete(product)" *ngIf="isUserIsAdmin()">מחק</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!products">
  לא נטענו שם מוצרים
</div>
        